---
import SiteLayout from '../../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../components/BaseHead.astro';
import { type index } from '../../../../components/HeaderIndex.astro';
import { BASE_URL } from '../../../../consts';
import { type Breadcrumb } from '../../../../layouts/SiteLayout.astro';
import { javaScriptBcList } from './js_index.astro';

export const jQueryBc: Breadcrumb = {
  name: "jQuery",
  item: `${BASE_URL}/contents/development/javascript/jquery`
};
export const jQueryBcList: Breadcrumb[] = [...javaScriptBcList, jQueryBc];
const indexList = [] as index[];
---

<SiteLayout
  title="jQuery"
  description="jQueryについて"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  breadcrumbList={jQueryBcList}
  indexList={indexList}
>

  <br>
  <h3 class="title">jQuery何がし</h3>
  <p></p>

  <br><br><br><br><br><br>
</SiteLayout>
