---
import { TWITTER_CARD_SUMMARY } from '../../../../../../consts';
import { Image } from 'astro:assets';
import SiteLayout from '../../../../../../layouts/SiteLayout.astro';
import img01 from './img/introduce_local_extension/img01.png'
import img02 from './img/introduce_local_extension/img02.png'

const indexList = [
  { id: '#pagetop', name: 'ページトップ' },
  { id: '#movingfeaturesbetweenobjects', name: 'Moving Features between Objects' },
  { id: '#introducelocalextension', name: 'Introduce Local Extension' }
];
---

<SiteLayout title="Introduce Local Extension | リファクタリング技法" indexList={indexList} twitterCardSize={TWITTER_CARD_SUMMARY}>
  <h2 class="title">リファクタリング技法</h2>
  <p>ここでは<a href="../codesmell/Codesmells">Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>
  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br />
  リファクタリング第2版<br />
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><img src="../../../../../img/refactoring.jpg" alt="refactoring" /></a>
  <br />
  レガシーコード改善ガイド<br />
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><img src="../../../../../img/legacy_code.jpg" alt="legacy_code" /></a>

  <h1>関連するリファクタリング技法</h1>

  <h1 id="movingfeaturesbetweenobjects">Moving Features between Objects</h1>
  <p><a href="https://sourcemaking.com/refactoring/moving-features-between-objects">Moving Features between Objects</a></p>

  <h2 id="introducelocalextension">Introduce Local Extension</h2>
  <p><a href="https://sourcemaking.com/refactoring/introduce-local-extension">Introduce Local Extension</a></p>
  <p>ライブラリのユーティリティクラスには、必要なメソッドが含まれていません。ただし、これらのメソッドをクラスに追加することはできません。
  メソッドを含む新しいクラスを作成し、それをユーティリティクラスの子またはラッパーにします。</p>
  <p><strong><em>【リファクタリング前】</em></strong>
  <Image src={img01} alt="image.png" />
  <p><strong><em>【リファクタリング後】</em></strong>
  <Image src={img02} alt="image.png" />
  <p><strong><em>関連するCode Smell</em></strong></p>
  <ul>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#incomplete-library-class">Incomplete Library Class</a></li>
  </ul>
</SiteLayout>
