---
import SiteLayout from '../../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../components/BaseHead.astro';
import { Image } from 'astro:assets';
import imgWhole from './img/whole_image.jpg';

const indexList = [
  { id: "#summary", name: "概要" },
  { id: "#whatimade", name: "作成物" },
  { id: "#mechanism", name: "仕組み" },
  { id: "#whatilearn", name: "学び" }
];
---

<SiteLayout
  title="twitterのスクレイピングbot"
  description="twitterのスクレイピングbotの仕組みや学びをまとめたページです。"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <h2 class="title">twitterのスクレイピングbot</h2>

  <br /><br />
  <p style="color: #FFFFFF;"><a href="../../../index.html" style="color: #00bfff;">ホーム</a> &gt; <a href="../bymyself.html" style="color: #00bfff;">個人開発したことまとめ</a> &gt; twitterのスクレイピングbot</p>

  <br />
  <div id="summary"></div>
  <h3 class="title">twitterのスクレイピングbot</h3>
  <p>
    ロマサガRSというソシャゲをやってて、新キャラが実装されるたびに絵師さんがこんなツイートしてたりする。
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">【仕事絵】<br />SQUARE ENIX様の「ロマンシング サガ リ・ユニバース」にて、<br />『SSグレイ』を描かせて頂きました。<a href="https://t.co/YoMfUvbRR8">https://t.co/YoMfUvbRR8</a><a href="https://twitter.com/hashtag/%E6%96%B0%E3%83%AD%E3%83%9E%E3%82%B5%E3%82%ACRS?src=hash&amp;ref_src=twsrc%5Etfw">#新ロマサガRS</a><a href="https://twitter.com/hashtag/%E3%83%AD%E3%83%9E%E3%82%B5%E3%82%ACRS?src=hash&amp;ref_src=twsrc%5Etfw">#ロマサガRS</a> <a href="https://t.co/Z3BCV7bphQ">pic.twitter.com/Z3BCV7bphQ</a></p>&mdash; 木野田 永志 (@bittercolors) <a href="https://twitter.com/bittercolors/status/1537359948749111296?ref_src=twsrc%5Etfw">June 16, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    キャラクタは大量にいるし、いつ誰が公開するかもわからないので自動的に情報収集して検索できるようなもの作れないかな？<br />
    　⇒そうだ！スクレイピングだ！（！？）<br />
  </p>

  <br /><br />
  <div id="whatimade"></div>
  <h3 class="title">作ったもの（実際に稼働したときのツイート）</h3>
  <p>
    勝手に拾ってリツイート<br />
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">今2022/06/16 18:03<br />木野田 永志さんの絵<a href="https://twitter.com/hashtag/%E3%83%AD%E3%83%9E%E3%82%B5%E3%82%ACRS%E3%81%AE%E7%B5%B5?src=hash&amp;ref_src=twsrc%5Etfw">#ロマサガRSの絵</a><a href="https://twitter.com/hashtag/%E3%83%AD%E3%83%9E%E3%82%B5%E3%82%ACRS?src=hash&amp;ref_src=twsrc%5Etfw">#ロマサガRS</a><a href="https://t.co/ahTsGxTHIZ">https://t.co/ahTsGxTHIZ</a></p>&mdash; sagamax@サガとレトロゲー (@sagamax__) <a href="https://twitter.com/sagamax__/status/1537360093167386625?ref_src=twsrc%5Etfw">June 16, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <br /><br />
    勝手に自分のサイトに公開<br />
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">今2022/06/16 18:03<br /><br />twitterに公開されたロマサガRSの絵氏さんのツイートを下記リンク先の画面で検索できます。<br />直前でRTしたツイートも登録済みです。<a href="https://twitter.com/hashtag/%E3%83%AD%E3%83%9E%E3%82%B5%E3%82%ACRS?src=hash&amp;ref_src=twsrc%5Etfw">#ロマサガRS</a><a href="https://t.co/LW0D58Uw9M">https://t.co/LW0D58Uw9M</a></p>&mdash; sagamax@サガとレトロゲー (@sagamax__) <a href="https://twitter.com/sagamax__/status/1537360094450839552?ref_src=twsrc%5Etfw">June 16, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <br /><br />
    勝手にひとつ前の作品を拾ってリツイート<br />
    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr">今2022/06/16 18:03<br />木野田 永志さんの1つ前の作品はこちら。<a href="https://twitter.com/hashtag/%E3%83%AD%E3%83%9E%E3%82%B5%E3%82%ACRS?src=hash&amp;ref_src=twsrc%5Etfw">#ロマサガRS</a><a href="https://t.co/lcLGaB0lrW">https://t.co/lcLGaB0lrW</a></p>&mdash; sagamax@サガとレトロゲー (@sagamax__) <a href="https://twitter.com/sagamax__/status/1537360095608451078?ref_src=twsrc%5Etfw">June 16, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>

  <br /><br />
  <div id="mechanism"></div>
  <h3 class="title">どんな仕組み？</h3>
  <p>
    <Image src={imgWhole} width={800} alt="全体構成" /><br />
    <br />
    botが勝手に情報収集して勝手にDB登録して勝手に公開してくれる、手間のかからない素敵システム。情報収集してDBに登録する部分はpythonで実装。webサイト部分はJava(jspとservlet)で実装。<br />
  </p>

  <br />
  <h4 class="title">ソースコード(python)</h4>
  <script src="https://gist.github.com/taumax-github/d29226ea9c744cf13a747ef110c12bd8.js"></script>

  <br />
  <h4 class="title">Java servlet</h4>
  <script src="https://gist.github.com/taumax-github/e015c8ddb37697d34466a3988c333a76.js"></script>

  <br />
  <h4 class="title">JSP</h4>
  <script src="https://gist.github.com/taumax-github/c422b2b191644bbd2a8c0689606e744a.js"></script>

</SiteLayout>
