---
import SiteLayout from '../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../components/BaseHead.astro';
import { BASE_URL } from '../../../consts';

const indexList = [
  { id: '#pagetop', name: 'ページトップ' },
  { id: '#codesmell', name: 'Code Smell' },
  { id: '#refactoring', name: 'リファクタリング技法' }
];
---

<SiteLayout
  title="Code Smellとリファクタリング技法"
  description="Code Smellとリファクタリング技法のまとめページです。"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <h2 class="title">Code Smellとリファクタリング技法</h2>

  <p>ここでは Code Smell とリファクタリング技法についてご紹介します。</p>
  <ul>
    <li><a href=`${BASE_URL}/contents/codesmell/Codesmells`>Code Smell</a></li>
    <li><a href=`${BASE_URL}/contents/refactoring/Refactoring_Technics`>リファクタリング技法</a></li>
  </ul>
  <br/><br/>
</SiteLayout>
