---
import SiteLayout from '../../../../../layouts/SiteLayout.astro';
import refactoringImg from '../../img/refactoring.jpg';
import legacyCodeImg from '../../img/legacy_code.jpg';

const indexList = [
  { id: '#pagetop', name: 'ページトップ' },
  { id: '#dispensables', name: 'Dispensables' },
  { id: '#comments', name: 'Comments' },
  { id: '#duplicatecode', name: 'Duplicate Code' },
  { id: '#lazyclass', name: 'Lazy Class' },
  { id: '#dataclass', name: 'Data Class' },
  { id: '#deadcode', name: 'Dead Code' },
  { id: '#speculativegenerality', name: 'Speculative Generality' }
];
---
<SiteLayout
  title="Dispensables"
  description="Code Smell: Dispensablesの分類・参考情報をまとめたページです。"
  twitterCardSize="summary_large_image"
  indexList={indexList}
>
  <section class="box">
    <h2 class="title">Dispensables</h2>
    <h2 id="dispensables">Dispensables</h2>
    <p><a href="https://sourcemaking.com/refactoring/smells/dispensables">Dispensables</a>
      Dispensablesとは、コードをきれいで効率的で理解しやすくする上で必要のないもののことです。</p>
    <h1 id="comments">Comments</h1>
    <p><a href="sub_dispensables/Comments">Comments（コメント）</a></p>
    <h1 id="duplicatecode">Duplicate Code</h1>
    <p><a href="sub_dispensables/Duplicate_Code">Duplicate Code（重複コード）</a></p>
    <h1 id="lazyclass">Lazy Class</h1>
    <p><a href="sub_dispensables/Lazy_Class">Lazy Class（怠け者クラス）</a></p>
    <h1 id="dataclass">Data Class</h1>
    <p><a href="sub_dispensables/Data_Class">Data Class（データクラス）</a></p>
    <h1 id="deadcode">Dead Code</h1>
    <p><a href="sub_dispensables/Dead_Code">Dead Code（到達不能コード）</a></p>
    <h1 id="speculativegenerality">Speculative Generality</h1>
    <p><a href="sub_dispensables/Speculative_Generality">Speculative Generality</a></p>
    <br /><br /><br />
    書籍としてはこの辺りが参考になると思います。<br />
    <br />
    リファクタリング第2版<br />
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><img src={refactoringImg.src} alt="refactoring" /></a>
    <br />
    レガシーコード改善ガイド<br />
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><img src={legacyCodeImg.src} alt="legacy_code" /></a>
  </section>
  <footer>
    <small><a href="/">とあるＩＴエンジニアの知識整理</a> All Rights Reserved.</small>
    <span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
  </footer>
</SiteLayout>
