---
import SiteLayout from '../../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../components/BaseHead.astro';
import { BASE_URL } from '../../../../consts';
const indexList = [
  { id: '#main', name: 'テスト関連' },
  { id: '#various_software_tests', name: 'ソフトウェアテストについて' }
];
---
<SiteLayout
  title="テスト関連"
  description="ソフトウェアテストについて"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <h2 class="title">テスト関連</h2>
  <ul class="breadcrumb">
    <li class="breadcrumbli"><a href={BASE_URL}>ホーム</a></li>
    <li class="breadcrumbli"> &gt; テスト関連</li>
  </ul>
  <ul>
    <li><a href=`${BASE_URL}/contents/softwaretest/various_software_tests`>ソフトウェアテストについていろいろ調べたことを書いた記事</a></li>
  </ul>
</SiteLayout>
