---
import { Image } from 'astro:assets';
import ICON_TWITTER_CARD from '../assets/images/icon_twitter_card.png';
import HeaderIndex from './HeaderIndex.astro';
let { indexList } = Astro.props;
---

<!--PC用（801px以上端末）メニュー-->
<header class="pc">
  <h1 class="logo"><a href="https://taumax-develop.github.io/"><Image src={ICON_TWITTER_CARD} alt="TOP"></a></h1>

  <nav id="menubar">
    <ul class="none">
      <li class="menuimg menu1"><a href="https://taumax-develop.github.io/"><span>Home</span></a></li>
    </ul>
  </nav>
  <HeaderIndex indexList={indexList}/>
</header>
<!--/.pc-->

<!--小さな端末用（800px以下端末）メニュー-->
<header class="sh">
  <div id="menubar-s">
    <h1 class="logo"><a href="https://taumax-develop.github.io/"><Image src={ICON_TWITTER_CARD} alt="TOP"></a></h1>
    <nav>
      <ul class="none">
        <li class="menuimg menu1"><a href="https://taumax-develop.github.io/"><span>Home</span></a></li>
      </ul>
    </nav>
    <HeaderIndex indexList={indexList}/>
  </div><!--/#menubar-s-->
</header>
<!--/.sh-->
