---
import SiteLayout from '../../../../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../../../components/BaseHead.astro';
import { BASE_URL } from '../../../../../../consts';
const indexList = [
  { id: '#pagetop', name: 'ページトップ' },
  { id: '#composingmethods', name: 'Composing Methods' },
  { id: '#inlinemethod', name: 'Inline Method' }
];
---

<SiteLayout
  title="Inline Method"
  description="リファクタリング技法：Inline Methodの解説"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <p>ここでは<a href=`${BASE_URL}/contents/codesmell/Codesmells`>Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>
  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><img src="../../../img/refactoring.jpg" alt="refactoring" /></a>
  <br/>
  レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><img src="../../../img/legacy_code.jpg" alt="legacy_code" /></a>

  <h1>関連するリファクタリング技法</h1>
  <h2 id="composingmethods">Composing Methods</h2>
  <p><a href="https://sourcemaking.com/refactoring/composing-methods">Composing Methods</a></p>

  <h2 id="inlinemethod">Inline Method</h2>
  <p><a href="https://sourcemaking.com/refactoring/inline-method">Inline Method</a></p>
  <p>メソッドがメソッドを呼び出すような関係になっていてそれが可読性を阻害しているようであればメソッドのインライン化を検討しましょう。</p>
  <pre><code class="language-java">{`class PizzaDelivery {
// ...
  int getRating() {
    return moreThanFiveLateDeliveries() ? 2 : 1;
  }
  boolean moreThanFiveLateDeliveries() {
    return numberOfLateDeliveries > 5;
  }
}
`}</code></pre>
  <pre><code class="language-java">{`class PizzaDelivery {
// ...
  int getRating() {
    return numberOfLateDeliveries > 5 ? 2 : 1;
  }
}
`}</code></pre>
  <p><strong><em>関連するCode Smell</em></strong></p>
  <ul>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#speculative-generality">Speculative Generality</a></li>
  </ul>
</SiteLayout>
