---
import SiteLayout from '../../../../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../../../components/BaseHead.astro';
import { BASE_URL } from '../../../../../../consts';
const indexList = [
  { id: '#pagetop', name: 'ページトップ' },
  { id: '#composingmethods', name: 'Composing Methods' },
  { id: '#replacemethodwithmethodobject', name: 'Replace Method with Method Object' }
];
---

<SiteLayout
  title="Replace Method with Method Object"
  description="リファクタリング技法：Replace Method with Method Objectの解説"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <h2 class="title">リファクタリング技法</h2>
  <p>ここでは<a href=`${BASE_URL}/contents/codesmell/Codesmells`>Code Smell</a>を解消するために参考となるリファクタリング技法や、その他参考になりそうな概念を紹介していこうと思います。</p>
  <p>リファクタリングに関してはこの辺りの書籍が参考になると思います。</p>
  <br/>
  リファクタリング第2版<br/>
  <a target="_blank" href="https://amzn.to/4m4SktG" rel="noopener noreferrer"><img src="../../../img/refactoring.jpg" alt="refactoring" /></a>
  <br/>
  レガシーコード改善ガイド<br/>
  <a target="_blank" href="https://amzn.to/44SixVn" rel="noopener noreferrer"><img src="../../../img/legacy_code.jpg" alt="legacy_code" /></a>

  <h1>関連するリファクタリング技法</h1>
  <h2 id="composingmethods">Composing Methods</h2>
  <p><a href="https://sourcemaking.com/refactoring/composing-methods">Composing Methods</a></p>

  <h2 id="replacemethodwithmethodobject">Replace Method with Method Object</h2>
  <p><a href="https://sourcemaking.com/refactoring/replace-method-with-method-object">Replace Method with Method Object</a>
  関連する変数と処理をクラスとして抽出すること。</p>
  <p><strong><em>関連するCode Smell</em></strong></p>
  <ul>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#long-method">Long Method</a></li>
    <li><a href="https://qiita.com/taumax/items/f192b16676f78fa04849#temporary-field">Temporary Field</a></li>
  </ul>
</SiteLayout>
