---
import SiteLayout from '../../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../components/BaseHead.astro';

const indexList = [
  { id: 'jjug', name: 'jjug Java 25周年記念' }
];
---
<SiteLayout
  title="Java関連"
  description="Java関連のまとめページ"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <h2 class="title">Java関連</h2>
  <a href="../../../../index.astro">ホーム</a> &gt; Java<br /><br />
  <ul>
    <li><a href="./jjug/jjug_happy_25th_anniversary_java">jjug Java 25周年記念</a></li>
  </ul>
</SiteLayout>
