---
import SiteLayout from '../../../../layouts/SiteLayout.astro';
import { TWITTER_CARD_SUMMARY } from '../../../../components/BaseHead.astro';
import type { index } from '../../../../components/HeaderIndex.astro';

const indexList = [] as index[];
---

<SiteLayout
  title="CORS（Cross-Origin Resource Sharing）"
  description="CORS（クロスオリジンリソースシェアリング）の解説ページ。セキュリティ観点での仕組みや脆弱性について。"
  twitterCardSize={TWITTER_CARD_SUMMARY}
  indexList={indexList}
>
  <meta http-equiv="refresh" content="3;URL=https://taumax-develop.github.io/contents/security/cors/cors"> <!-- リダイレクト -->

  <h2 class="title">CORS（Cross-Origin Resource Sharing）</h2>

  <p>
    移動しました。自動転送します。<br>
    <a href="https://taumax-develop.github.io/contents/security/cors/cors">移動先はこちら</a>。
  </p>
</SiteLayout>
